[Unit]
Description=Laravel reverb websockets for Laranode Panel
After=network-online.target mysql.service laranode-bootstrap.service
Wants=network-online.target
Requires=laranode-bootstrap.service

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/laranode
ExecStart=/usr/bin/php /opt/laranode/artisan reverb:start
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
